.DS_Store

node_modules
downloaded

lib/core/metadata.js
lib/core/MetadataBlog.js

website/sidebars.json

website/translated_docs
website/build/
website/yarn.lock
website/node_modules
website/i18n/*
website/static/reference/
gen/jsii
.js
