# Each line is a file pattern followed by one or more owners (@username or
# email@address).
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#
# @See https://help.github.com/articles/about-codeowners/

*                                                 @aws/aws-cdk-team
/packages/aws-cdk                                 @aws/aws-cdk-team  @RomainMuller
/packages/@aws-cdk/aws-code*/                     @aws/aws-cdk-team  @skinny85
/packages/@aws-cdk/aws-ecs/                       @aws/aws-cdk-team  @SoManyHs
/packages/@aws-cdk/aws-ecs-patterns               @aws/aws-cdk-team  @SoManyHs
/packages/@aws-cdk/aws-budgets                    @aws/aws-cdk-team  @eladb
/packages/@aws-cdk/aws-cloudformation             @aws/aws-cdk-team  @eladb
/packages/@aws-cdk/aws-config                     @aws/aws-cdk-team  @eladb
/packages/@aws-cdk/aws-opsworks                   @aws/aws-cdk-team  @eladb
/packages/@aws-cdk/aws-opsworkscm                 @aws/aws-cdk-team  @eladb
/packages/@aws-cdk/aws-sam                        @aws/aws-cdk-team  @eladb @nija-at
/packages/@aws-cdk/aws-secretsmanager             @aws/aws-cdk-team  @rix0rrr
/packages/@aws-cdk/aws-servicecatalog             @aws/aws-cdk-team  @eladb
/packages/@aws-cdk/aws-ssm                        @aws/aws-cdk-team  @eladb
/packages/@aws-cdk/aws-applicationautoscaling/    @aws/aws-cdk-team  @rix0rrr
/packages/@aws-cdk/aws-autoscaling*/              @aws/aws-cdk-team  @rix0rrr
/packages/@aws-cdk/aws-athena                     @aws/aws-cdk-team  @skinny85
/packages/@aws-cdk/aws-batch                      @aws/aws-cdk-team  @skinny85
/packages/@aws-cdk/aws-datapipeline               @aws/aws-cdk-team  @skinny85
/packages/@aws-cdk/aws-docdb                      @aws/aws-cdk-team  @skinny85
/packages/@aws-cdk/aws-dynamodb                   @aws/aws-cdk-team  @skinny85
/packages/@aws-cdk/aws-dynamodb-global            @aws/aws-cdk-team  @skinny85
/packages/@aws-cdk/aws-elasticsearch              @aws/aws-cdk-team  @skinny85
/packages/@aws-cdk/aws-emr                        @aws/aws-cdk-team  @skinny85
/packages/@aws-cdk/aws-glue                       @aws/aws-cdk-team  @skinny85
/packages/@aws-cdk/aws-kinesis                    @aws/aws-cdk-team  @skinny85
/packages/@aws-cdk/aws-kinesisanalytics           @aws/aws-cdk-team  @skinny85
/packages/@aws-cdk/aws-kinesisfirehose            @aws/aws-cdk-team  @skinny85
/packages/@aws-cdk/aws-msk                        @aws/aws-cdk-team  @skinny85
/packages/@aws-cdk/aws-elasticache                @aws/aws-cdk-team  @skinny85
/packages/@aws-cdk/cloudformation-diff            @aws/aws-cdk-team  @rix0rrr
/packages/@aws-cdk/aws-cloud9                     @aws/aws-cdk-team  @shivlaks
/packages/@aws-cdk/aws-appmesh                    @aws/aws-cdk-team  @rix0rrr
/packages/@aws-cdk/aws-ecr                        @aws/aws-cdk-team  @rix0rrr
/packages/@aws-cdk/aws-ecr-assets                 @aws/aws-cdk-team  @rix0rrr
/packages/@aws-cdk/aws-servicediscovery           @aws/aws-cdk-team  @rix0rrr
/packages/@aws-cdk/core                           @aws/aws-cdk-team  @eladb
/packages/@aws-cdk/cx-api                         @aws/aws-cdk-team  @eladb
/packages/@aws-cdk/region-info                    @aws/aws-cdk-team  @RomainMuller
/packages/@aws-cdk/aws-dax                        @aws/aws-cdk-team  @skinny85
/packages/@aws-cdk/aws-neptune                    @aws/aws-cdk-team  @skinny85
/packages/@aws-cdk/aws-rds                        @aws/aws-cdk-team  @skinny85
/packages/@aws-cdk/aws-redshift                   @aws/aws-cdk-team  @skinny85
/packages/@aws-cdk/aws-sdb                        @aws/aws-cdk-team  @skinny85
/packages/@aws-cdk/aws-dlm                        @aws/aws-cdk-team  @skinny85
/packages/@aws-cdk/aws-dms                        @aws/aws-cdk-team  @skinny85
/packages/@aws-cdk/aws-ec2                        @aws/aws-cdk-team  @rix0rrr
/packages/@aws-cdk/aws-efs                        @aws/aws-cdk-team  @rix0rrr
/packages/@aws-cdk/aws-elasticloadbalancing*/     @aws/aws-cdk-team  @rix0rrr
/packages/@aws-cdk/aws-fsx                        @aws/aws-cdk-team  @rix0rrr
/packages/@aws-cdk/aws-pinpoint                   @aws/aws-cdk-team  @shivlaks
/packages/@aws-cdk/aws-pinpointemail              @aws/aws-cdk-team  @shivlaks
/packages/@aws-cdk/aws-ses                        @aws/aws-cdk-team  @shivlaks
/packages/@aws-cdk/custom-resources               @aws/aws-cdk-team  @eladb
/packages/@aws-cdk/region-info                    @aws/aws-cdk-team  @RomainMuller
/packages/@aws-cdk/aws-ram                        @aws/aws-cdk-team  @rix0rrr
/packages/@aws-cdk/aws-greengrass                 @aws/aws-cdk-team  @shivlaks
/packages/@aws-cdk/aws-iot                        @aws/aws-cdk-team  @shivlaks
/packages/@aws-cdk/aws-iot1click                  @aws/aws-cdk-team  @shivlaks
/packages/@aws-cdk/aws-iotanalytics               @aws/aws-cdk-team  @shivlaks
/packages/@aws-cdk/aws-iotevents                  @aws/aws-cdk-team  @shivlaks
/packages/@aws-cdk/aws-iotthingsgraph             @aws/aws-cdk-team  @shivlaks
/packages/@aws-cdk/aws-eks                        @aws/aws-cdk-team  @eladb
/packages/@aws-cdk/cfnspec                        @aws/aws-cdk-team  @eladb
/packages/@aws-cdk/aws-sns                        @aws/aws-cdk-team  @garnaat @nija-at
/packages/@aws-cdk/aws-sns-subscriptions          @aws/aws-cdk-team  @garnaat @nija-at
/packages/@aws-cdk/aws-sqs                        @aws/aws-cdk-team  @garnaat @nija-at
/packages/@aws-cdk/aws-robomaker                  @aws/aws-cdk-team  @skinny85
/packages/@aws-cdk/aws-sagemaker                  @aws/aws-cdk-team  @skinny85
/packages/@aws-cdk/aws-amplify                    @aws/aws-cdk-team  @shivlaks
/packages/@aws-cdk/aws-appsync                    @aws/aws-cdk-team  @shivlaks
/packages/@aws-cdk/aws-cloudtrail                 @aws/aws-cdk-team  @eladb
/packages/@aws-cdk/aws-cloudwatch                 @aws/aws-cdk-team  @eladb
/packages/@aws-cdk/aws-events                     @aws/aws-cdk-team  @eladb
/packages/@aws-cdk/aws-events-targets             @aws/aws-cdk-team  @eladb
/packages/@aws-cdk/aws-logs                       @aws/aws-cdk-team  @eladb
/packages/@aws-cdk/aws-logs-destinations          @aws/aws-cdk-team  @eladb
/packages/@aws-cdk/aws-certificatemanager         @aws/aws-cdk-team  @rix0rrr
/packages/@aws-cdk/aws-kms                        @aws/aws-cdk-team  @rix0rrr
/packages/@aws-cdk/aws-iam                        @aws/aws-cdk-team  @rix0rrr
/packages/@aws-cdk/aws-inspector                  @aws/aws-cdk-team  @rix0rrr
/packages/@aws-cdk/aws-apigateway                 @aws/aws-cdk-team  @eladb @nija-at
/packages/@aws-cdk/aws-cognito                    @aws/aws-cdk-team  @eladb @nija-at
/packages/@aws-cdk/aws-lambda                     @aws/aws-cdk-team  @eladb @nija-at
/packages/@aws-cdk/aws-lambda-event-sources       @aws/aws-cdk-team  @eladb @nija-at
/packages/@aws-cdk/aws-stepfunctions              @aws/aws-cdk-team  @eladb
/packages/@aws-cdk/aws-stepfunctions-tasks        @aws/aws-cdk-team  @eladb
/packages/@aws-cdk/aws-waf                        @aws/aws-cdk-team  @eladb @nija-at
/packages/@aws-cdk/aws-wafregional                @aws/aws-cdk-team  @eladb @nija-at
/packages/@aws-cdk/aws-cloudfront                 @aws/aws-cdk-team  @eladb
/packages/@aws-cdk/aws-mediastore                 @aws/aws-cdk-team  @eladb
/packages/@aws-cdk/aws-s3                         @aws/aws-cdk-team  @eladb
/packages/@aws-cdk/aws-s3-assets                  @aws/aws-cdk-team  @eladb
/packages/@aws-cdk/aws-s3-deployment              @aws/aws-cdk-team  @eladb
/packages/@aws-cdk/aws-s3-notifications           @aws/aws-cdk-team  @eladb
/packages/@aws-cdk/aws-transfer                   @aws/aws-cdk-team  @eladb
/packages/@aws-cdk/assert                         @aws/aws-cdk-team  @RomainMuller
/packages/@aws-cdk/aws-appstream                  @aws/aws-cdk-team  @RomainMuller
/packages/@aws-cdk/aws-directoryservice           @aws/aws-cdk-team  @RomainMuller
/packages/@aws-cdk/aws-workspaces                 @aws/aws-cdk-team  @RomainMuller
/packages/@aws-cdk/aws-elasticbeanstalk           @aws/aws-cdk-team  @skinny85
/packages/@aws-cdk/aws-gamelift                   @aws/aws-cdk-team  @skinny85
/packages/@aws-cdk/aws-guardduty                  @aws/aws-cdk-team  @rix0rrr
/packages/@aws-cdk/aws-route53                    @aws/aws-cdk-team  @shivlaks
/packages/@aws-cdk/aws-route53-targets            @aws/aws-cdk-team  @shivlaks
/packages/@aws-cdk/aws-route53resolver            @aws/aws-cdk-team  @shivlaks
