# Each line is a file pattern followed by one or more owners (@username or
# email@address).
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.

*                               @awslabs/aws-cdk-team
docs/*                          @Doug-AWS
packages/@aws-cdk/aws-code*     @RomainMuller @skinny85
