version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10
    ignore:
      - dependency-name: "jsii*"
      - dependency-name: "@jsii/*"
      - dependency-name: "codemaker"
      - dependency-name: "@types/node"
        versions: [">=11.0.0-0"]
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
