# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto
# Currently, this repository has LF dependencies in building and testing, with json, sh, and no extensions.
# Until this is fixed, it is best to just set the whole repository to be LF.
* eol=lf
*.gif binary
*.zip binary
*.png binary
*.jpg binary
*.tgz binary
*.tar.gz binary
# Hide snapshots from GitHub UI, except for the actual templates
**/*.snapshot/** linguist-generated
**/*.snapshot/**/*.template.json -linguist-generated
**/*.snapshot/**/*DeployAssert*.template.json linguist-generated
packages/@aws-cdk-testing/framework-integ/test/aws-s3-deployment/test/integ.bucket-deployment-big-response.js.snapshot/asset.3322b7049fb0ed2b7cbb644a2ada8d1116ff80c32dca89e6ada846b5de26f961.zip filter=lfs diff=lfs merge=lfs -text
packages/@aws-cdk-testing/framework-integ/test/**/*.snapshot/**/asset*.zip filter=lfs diff=lfs merge=lfs -text
packages/@aws-cdk/*-alpha/test/**/*.snapshot/**/asset*.zip filter=lfs diff=lfs merge=lfs -text
packages/@aws-cdk/*-alpha/test/*.snapshot/asset.*/bootstrap filter=lfs diff=lfs merge=lfs -text
