# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Currently, this repository has LF dependencies in building and testing, with json, sh, and no extensions.
# Until this is fixed, it is best to just set the whole repository to be LF.
* eol=lf

*.gif binary
*.zip binary
*.png binary
*.jpg binary
*.tgz binary
*.tar.gz binary
