*.tsbuildinfo
.cdk.staging

.vscode
# VSCode extension
/.favorites.json
.DS_Store
node_modules
lerna-debug.log
dist
pack
.BUILD_COMPLETED
.local-npm
.tools
coverage
.nyc_output
.LAST_BUILD
*.sw[a-z]
*~

# we don't want tsconfig at the root
/tsconfig.json
cdk.context.json
tsconfig.tsbuildinfo
