--install.check-files     true      # install will verify file tree of packages for consistency

# Use the npm registry instead of yarns mirror.
# npm treats registry.npmjs.org as a special value that means 'the current
# configured package' in package-lock and npm-shrinkwrap.  if we use
# registry.yarnpkg.com in our shrinkwrap then users with a custom registry will
# be forced to registry.yarnpkg.com.
# https://github.com/npm/cli/issues/3783
registry "https://registry.npmjs.org"
ignore-engines            true      # the 'engines' key for 'aws-cdk-lib' has specifies node14 as min while v1 will remain at node10
