# This is required as the *current* CodeBuild image has node8, but we "require" node 10.
# The whole file can be dropped once the new Docker image is released.
--install.ignore-engines  true
--run.ignore-engines      true
