@font-face {
  font-family: Amazon Ember;
  src: url(./AmazonEmber_W_Rg.woff) format('woff');
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: Amazon Ember;
  src: url(./AmazonEmber_W_RgIt.woff) format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Amazon Ember;
  src: url(./AmazonEmber_W_Bd.woff) format('woff');
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: Amazon Ember;
  src: url(./AmazonEmber_W_BdIt.woff) format('woff');
  font-weight: 700;
  font-style: italic;
}

