name: Closed Issue Message
on:
  issues:
    types: [closed]
  pull_request_target:
    types: [closed]
permissions:
  pull-requests: write
  issues: write
jobs:
  auto_comment:
    permissions:
      issues: write
    runs-on: ubuntu-latest
    steps:
    - uses: aws-actions/closed-issue-message@v1
      with:
        # These inputs are both required
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
        message: |
          Comments on closed issues and PRs are hard for our team to see. 
          If you need help, please open a new issue that references this one.
          If you wish to keep having a conversation with other community members under this issue feel free to do so.
