name: Integration Test deployment

permissions:
  id-token: write # This is required for requesting the OIDC JWT ID token

on:
  workflow_dispatch: {}
  merge_group: {}
  pull_request_target:
    types:
      - opened
      - synchronize
      - reopened
      - labeled
    branches:
      - main
    paths:
      - '**.js.snapshot**'

# In each PR, cancel any previous deployment integration test in progress for that PR
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event.pull_request.number || github.run_id }}
  cancel-in-progress: true

jobs:
  integration_test_deployment:
    runs-on: codebuild-aws-cdk-github-actions-deployment-integ-runner-${{ github.run_id }}-${{ github.run_attempt }}
    timeout-minutes: 7200 # Maximum limit for self-hosted runners, job can still be limited by our runner timeout (which is set at 36 hours).
    environment: deployment-integ-test # Do not change or remove this without discussing with Appsec
    if: contains(github.event.pull_request.labels.*.name, 'pr/needs-integration-tests-deployment')
    name: 'Deploy integration test snapshots (requires `pr/needs-integration-tests-deployment` label)'

    env:
      PR_BUILD: true

    steps:
      - name: Checkout HEAD
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
          cache: "yarn"
          cache-dependency-path: |
            yarn.lock

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Load Docker images
        id: docker-cache
        uses: actions/cache/restore@v5
        with:
          path: |
            ~/.docker-images.tar
          key: docker-cache-${{ runner.os }}

      - name: Restore Docker images
        if: ${{ steps.docker-cache.outputs.cache-hit }}
        run: docker image load --input ~/.docker-images.tar

      - name: Cache build artifacts
        uses: actions/cache@v5
        with:
          path: |
            ~/.s3buildcache
          key: s3buildcache-${{ runner.os }}

        #Increases vm.max_map_count for memory intensive jobs
      - name: Configure system settings for 
        run: |
          (command -v sysctl || sudo apt-get update && sudo apt-get install -y procps) && \
          sudo sysctl -w vm.max_map_count=2251954
        
      - name: Install dependencies for Integration Tests
        run: yarn install --frozen-lockfile
      
      - name: Build deployment-integ
        run: yarn --cwd tools/@aws-cdk/integration-test-deployment build
        
      # Build integration test packages: @aws-cdk-testing/framework-integ (stable tests) and @aws-cdk/* (alpha tests)
      - name: Build Integration Test packages 
        run: npx lerna run build --scope="{@aws-cdk/*,@aws-cdk-testing/framework-integ}"

      - name: Run integration tests using integration-test-deployment script
        run: yarn run atmosphere-integ-test
        env:
          CDK_ATMOSPHERE_ENDPOINT: ${{ vars.CDK_ATMOSPHERE_ENDPOINT }}
          CDK_ATMOSPHERE_POOL: ${{ vars.CDK_ATMOSPHERE_POOL}}
          CDK_ATMOSPHERE_OIDC_ROLE: ${{ vars.CDK_ATMOSPHERE_OIDC_ROLE }}
          CDK_ATMOSPHERE_BATCH_SIZE: ${{ vars.CDK_ATMOSPHERE_BATCH_SIZE }}
          TARGET_BRANCH_COMMIT: ${{ github.event.pull_request.base.sha }}
          SOURCE_BRANCH_COMMIT: ${{ github.event.pull_request.head.sha }}
          
      - name: Export Docker images
        if: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
        run: docker image save --output ~/.docker-images.tar $(docker image list --format '{{ if ne .Repository "<none>" }}{{ .Repository }}{{ if ne .Tag "<none>" }}:{{ .Tag }}{{ end }}{{ else }}{{ .ID }}{{ end }}')

      - name: Cache Docker images
        if: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
        uses: actions/cache/save@v5
        with:
          path: |
            ~/.docker-images.tar
          key: docker-cache-${{ runner.os }}
