# https://octokit.github.io/rest.js
# https://github.com/actions/toolkit/blob/master/packages/github/src/context.ts

name: PR Linter
on:
  pull_request:
    types:
      - labeled
      - unlabeled
      - edited
      - opened
      - synchronize
      - reopened

jobs:
  validate-pr:
    permissions:
      contents: read
      pull-requests: read
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v2

      - name: Install & Build prlint
        run: cd tools/prlint && npm ci && npm run build+test

      - name: Validate
        uses: ./tools/prlint
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
